{%extends 'base2.html'%}
{%block title%}
Add New Portfolio
{%endblock%}

{%block content%}
<div class="container pt-5">
    <form action="#" method="POST">
    
        <div class="form-group">
            <label for="Title">Title</label>
            <input type="text" class="form-control" id="title" placeholder="The Unkonwns Account Management System">
          </div>
    
          <div class="form-group">
            <label for="Company Name">Company Name</label>
            <input type="text" class="form-control" id="name" placeholder="The Unkonwns ">
          </div>

          <div class="form-group">
            <label for="Company Name">Year</label>
            <input type="number" class="form-control" id="year" placeholder="2020">
          </div>
          <div class="form-group">
            <label for="Company Name">Project Image</label>
            <input type="text" class="form-control" id="Image" placeholder="Make sure URL works">
          </div>
       
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Project Info</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti excepturi maiores quas deserunt voluptate laborum fugit at culpa assumenda! Perferendis."></textarea>
        </div>
        <input class="btn btn-primary" style="background-color: #1D809f;" type="submit" value="Submit">
      </form>
</div>

{%endblock%}