<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{%block title%}
      
      {%endblock%}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <!-- {{ url_for('static',filename='vendor/jquery/jquery.min.js')}} -->
    <link rel="stylesheet" href="{{url_for ('static',filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for ('static',filename='css/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{url_for ('static',filename='css/magnific-popup.css')}}">
    <link rel="stylesheet" href="{{url_for ('static',filename='css/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{url_for ('static',filename='css/themify-icons.css')}}">
    <link rel="stylesheet" href="{{url_for ('static',filename='css/nice-select.css')}}">
    <link rel="stylesheet" href="{{url_for ('static',filename='css/flaticon.css')}}">
    <link rel="stylesheet" href="{{url_for ('static',filename='css/gijgo.css')}}">
    <link rel="stylesheet" href="{{url_for ('static',filename='css/animate.min.css')}}">
    <link rel="stylesheet" href="{{url_for ('static',filename='css/slick.css')}}">
    <link rel="stylesheet" href="{{url_for ('static',filename='css/slicknav.css')}}">
    <link rel="stylesheet" href="{{url_for ('static',filename='css/style.css')}}">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-2">
                            <div class="logo">
                                <a href="index.html">
                                    <img src="img/logo.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-10">
                            <div class="main-menu  d-none d-lg-block text-right">
                                <nav>
                                    <ul id="navigation">
                                        <li><a class="active" href="index.html">home</a></li>
                                        <li><a href="about.html">About</a></li>
                                        
                                        <li><a href="#">blog <i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                <li><a href="blog.html">blog</a></li>
                                                <li><a href="single-blog.html">single-blog</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">pages <i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                    <li><a href="portfolio-work.html">Portfolio work</a></li>
                                                 <li><a href="work_details.html">work details</a></li>
                                                 <li><a href="services.html">Services</a></li>
                                                 <li><a href="elements.html">elements</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="contact.html">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>

{%block content%}
{%endblock%}

<!-- Footer -->
  <!-- footer start -->
  <footer class="footer">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="footer_widget">
                       <div class="logo_footer">
                           <a href="index.html">
                               <img src="img/logo.png" alt="">
                           </a>
                       </div>

                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-lg-3">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                                Services
                        </h3>
                        <ul>
                            <li><a href="#">Web Design</a></li>
                            <li><a href="#">3D Modeling</a></li>
                            <li><a href="#">Architectural Design</a></li>
                        </ul>

                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-lg-3">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Useful Links
                        </h3>
                        <ul>
                            <li><a href="#">Work</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-md-6 col-lg-2">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                                Follow Us
                        </h3>
                        <ul>
                            <li><a href="#">Dribbble</a></li>
                            <li><a href="#">Behance</a></li>
                            <li><a href="#">Instagram</a></li>
                            <li><a href="#">Facebook</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-right_text">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <p class="copy_right text-center">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--/ footer end  -->

<!-- JS here -->
<!-- {{ url_for('static',filename='vendor/jquery/jquery.min.js')}} -->
<script src="{{ url_for('static', filename='js/vendor/modernizr-3.5.0.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/vendor/jquery-1.12.4.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/popper.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/owl.carousel.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/isotope.pkgd.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/ajax-form.js')}}"></script>
<script src="{{ url_for('static', filename='js/waypoints.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/jquery.counterup.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/imagesloaded.pkgd.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/scrollIt.js')}}"></script>
<script src="{{ url_for('static', filename='js/jquery.scrollUp.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/wow.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/nice-select.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/jquery.slicknav.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/plugins.js')}}"></script>
<script src="{{ url_for('static', filename='js/gijgo.min.js')}}"></script>

<!--contact js-->
<script src="{{ url_for('static', filename='js/contact.js')}}"></script>
<script src="{{ url_for('static', filename='js/jquery.ajaxchimp.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/jquery.form.js')}}"></script>
<script src="{{ url_for('static', filename='js/jquery.validate.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/mail-script.js')}}"></script>

<script src="{{ url_for('static', filename='js/main.js')}}"></script>
</body>

</html>
