{% extends 'base.html'%}
{%block title%}
The Unknowns
{%endblock%}
{%block content%}

  <!-- Header -->
     <!-- slider_area_start -->
    <div class="slider_area">
        <div class="single_slider  d-flex align-items-center slider_bg_1">
            <div class="outline_text d-none d-lg-block">
                    Portfolio
            </div>
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-12">
                        <div class="slider_text text-center">
                            <span>Hello Everyone</span>
                            <h3>
                                    World class consumer and trends research capabilities we design for tomorrow customers in tomorrow’s markets.
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider_area_end -->


    <div class="portfolio_area">
        <!-- <div class="container-fluid p-0"> -->
            <div class="portfolio_wrap">
              {%for p in p%}
                <div class=" single_gallery">
                    <div class="thumb">
                        <img src="{{p.image}}" alt="">
                    </div>
                    <div class="gallery_hover">
                        <div class="hover_inner">
                                <span>{{p.title}}</span>
                                <a href=""> <h3>{{p.info}}</h3></a>
                                
                        </div>
                    </div>
                </div>
                {%endfor%}
            </div>
        <!-- </div> -->
        <div class="more_works text-center">
            <a href="portfolio-work.html">More Works</a>
        </div>
    </div>


    <!-- service_area  -->
    <div class="service_area">
            <div class="outline_text white d-none d-lg-block">
                    Services
            </div>
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single_service">
                        <div class="icon">
                            <img src="img/svg_icon/1.svg" alt="">
                        </div>
                        <h3>3D Modeling</h3>
                        <p>A wonderful serenity has taken to the  <br> possession of my entire soul network <br> infrastructure, including consolidation of <br> established network designed and</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single_service">
                        <div class="icon">
                            <img src="img/svg_icon/2.svg" alt="">
                        </div>
                        <h3>UI/UX Design</h3>
                        <p>A wonderful serenity has taken to the  <br> possession of my entire soul network <br> infrastructure, including consolidation of <br> established network designed and</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single_service">
                        <div class="icon">
                            <img src="img/svg_icon/3.svg" alt="">
                        </div>
                        <h3>Architectural Design</h3>
                        <p>A wonderful serenity has taken to the  <br> possession of my entire soul network <br> infrastructure, including consolidation of <br> established network designed and</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ service_area  -->

    <div class="creative_blog_area">
            <div class="outline_text blog d-none d-lg-block ">
                    Blog
            </div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-9 col-md-6">
                    <div class="blog_title">
                        <h3>Our Creative Articles</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="more_blog">
                        <a href="#" class="boxed-btn3">More Blogs</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="creative_blog_active owl-carousel">
                        <div class="single_blog">
                            <div class="thumb">
                                <a href="#">
                                    <img src="img/creative_blog/1.png" alt="">
                                </a>
                            </div>
                            <div class="blog_content">
                                <a href="#">
                                    <span class="date">October 19, 2019</span>
                                </a>
                                <a href="#">
                                    <h3>Industry as their over draft</h3>
                                </a>
                                <div class="owner_info">
                                    <div class="author_thumb">
                                        <img src="img/creative_blog/author2.png" alt="">
                                    </div>
                                    <div class="info">
                                        <a href="#"><h4>Mesica Chouhan</h4></a>
                                        <p>Business Owner</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single_blog">
                            <div class="thumb">
                                <a href="#">
                                    <img src="img/creative_blog/2.png" alt="">
                                </a>
                            </div>
                            <div class="blog_content">
                                <a href="#">
                                    <span class="date">October 19, 2019</span>
                                </a>
                                <a href="#">
                                    <h3>Construction their over draft</h3>
                                </a>
                                <div class="owner_info">
                                    <div class="author_thumb">
                                        <img src="img/creative_blog/author3.png" alt="">
                                    </div>
                                    <div class="info">
                                        <a href="#"><h4>Mesica Chouhan</h4></a>
                                        <p>Business Owner</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single_blog">
                            <div class="thumb">
                                <a href="#">
                                    <img src="img/creative_blog/3.png" alt="">
                                </a>
                            </div>
                            <div class="blog_content">
                                <a href="#">
                                    <span class="date">October 19, 2019</span>
                                </a>
                                <a href="#">
                                    <h3>Industry as their over draft</h3>
                                </a>
                                <div class="owner_info">
                                    <div class="author_thumb">
                                        <img src="img/creative_blog/author.png" alt="">
                                    </div>
                                    <div class="info">
                                        <a href="#"><h4>Mesica Chouhan</h4></a>
                                        <p>Business Owner</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single_blog">
                            <div class="thumb">
                                <a href="#">
                                    <img src="img/creative_blog/4.png" alt="">
                                </a>
                            </div>
                            <div class="blog_content">
                                <a href="#">
                                    <span class="date">October 19, 2019</span>
                                </a>
                                <a href="#">
                                    <h3>Industry as their over draft</h3>
                                </a>
                                <div class="owner_info">
                                    <div class="author_thumb">
                                        <img src="img/creative_blog/author.png" alt="">
                                    </div>
                                    <div class="info">
                                        <a href="#"><h4>Mesica Chouhan</h4></a>
                                        <p>Business Owner</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- testimonial_area  -->
    <div class="testimonial_area ">
            <div class="outline_text white testmonial d-none d-lg-block">
                    Testimonial
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="testmonial_active owl-carousel">
                            <div class="single_carousel">
                                <div class="row justify-content-center">
                                    <div class="col-lg-6">
                                        <div class="single_testmonial text-center">
                                                <div class="thumb">
                                                        <img src="img/testmonial/thumb.png" alt="">
                                                </div>
                                            <p>Innovative brewing methods and our coffee is sourced from various parts of the globe and are roasted to perfection. </p>
                                            <div class="testmonial_author">
                                                <h3>Mesica Chouhan</h3>
                                                <span>Mesica Chouhan</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single_carousel">
                                <div class="row justify-content-center">
                                    <div class="col-lg-6">
                                        <div class="single_testmonial text-center">
                                                <div class="thumb">
                                                        <img src="img/testmonial/thumb.png" alt="">
                                                </div>
                                            <p>Innovative brewing methods and our coffee is sourced from various parts of the globe and are roasted to perfection. </p>
                                            <div class="testmonial_author">
                                                <h3>Mesica Chouhan</h3>
                                                <span>Mesica Chouhan</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single_carousel">
                                <div class="row justify-content-center">
                                    <div class="col-lg-6">
                                        <div class="single_testmonial text-center">
                                                <div class="thumb">
                                                        <img src="img/testmonial/thumb.png" alt="">
                                                </div>
                                            <p>Innovative brewing methods and our coffee is sourced from various parts of the globe and are roasted to perfection. </p>
                                            <div class="testmonial_author">
                                                <h3>Mesica Chouhan</h3>
                                                <span>Mesica Chouhan</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- /testimonial_area  -->
    
    <!-- discuss_projects_start  -->
    <div class="discuss_projects">
            <div class="outline_text white project d-none d-lg-block">
                    Let’s talk
            </div>
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="project_text text-center">
                        <h3>Let’s start your project with us</h3>
                        <a class="boxed-btn3" href="#">Start Talking</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{%endblock%}
